<div class="header clearfix">
  <div class="navigation">
    <ul class="breadcrumb">
  		<li><a href="/#">Главная</a> <span class="divider">/</span></li>
  		<li><a href="/#persons">Адресная книга</a> <span class="divider">/</span></li>
  		<li class="active"><%= person.lastName + ' ' + person.firstName + ' ' + person.middleName %></li>
		</ul>  
	</div>
</div>
<div class="data-view-sidebar"></div>
<div class="data-view-container"><div class="data-view-grid"></div><ul class="data-view-cards"></div></div>
